@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,500');

.e404-container {
  font-family: 'Roboto Mono', 'Liberation Mono', Consolas, monospace;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.e404-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.e404-number {
  font-size: 6rem;
}

/* HTML: <div class="loader"></div> */
.loader-container {
  /* height: calc(100vh - 8rem); */
  height: 100%;
  width: calc(3rem * 2);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  /* margin: 0 auto; */
  width: 3rem;
  aspect-ratio: 1;
  transform: scale(1.5);
  --c: linear-gradient(#fff 0 0);
  --r1: radial-gradient(farthest-side at bottom, #fff 93%, #fff0);
  --r2: radial-gradient(farthest-side at top, #fff 93%, #fff0);
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: loader 1s infinite alternate;
}
@keyframes loader {
  0%,
  25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0,
      8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0,
      8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px,
      8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px),
      100% calc(50% + 2px);
  }
  95%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px,
      8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%,
      50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px),
      100% calc(100% + 2px);
  }
}
